<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Great Number Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <h2>I am thinking of a number between 1 and 100</h2>
        <h3>Take a guess!</h3>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
            <form action="/guess" method="POST">
                <input type="text" name="guess" placeholder="Enter Number">
                <input type="submit" name="submit" value="Submit">
            </form>
            <form class="message" action="/reset" method="POST">
                <div class="{{category}}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endwith %}
        {% if session['guess'] == session['number'] %}
                <input type="submit" name="again" value="Play Again!">
            </form>
        {% endif %}
    </body>
</html>
