<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    </head>
    <body>
        <div class="">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <h1>Registration Form</h1>
        <form action="/process" method="post">
            <label for="email"><span>*&nbsp</span>Email: </label>
                <input type="text" name="email" placeholder="ex. you@somewhere.com">
            <label for="first_name"><span>*&nbsp</span>First Name: </label>
                <input type="text" name="first_name" placeholder="John">
            <label for="last_name"><span>*&nbsp</span>Last Name: </label>
                <input type="text" name="last_name" placeholder="Smith">
                <label for="dob"><span>*&nbsp</span>Date of Birth: </label>
                    <input type="text" name="dob" placeholder="MM/DD/YYYY">
                <label for="password"><span>*&nbsp</span>Create Password: </label>
                <input type="password" name="password" placeholder="Must contain more than 8 characters and include 1 UPPERCASE and 1 number">
            <label for="confirm"><span>*&nbsp</span>Confirm Password: </label>
                <input type="password" name="confirm" placeholder="Re-enter password">
            <input type="submit" value="Submit">
        </form>
        <footer>Required fields are marked with (&nbsp<span>*</span>&nbsp).</footer>
    </body>
</html>
