<title>Sign In Page</title>

<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<h1>SIGN IN</h1>

<form action="/login" method="post">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">

    <input type="text" placeholder="username">
    <input type="submit" value="Sign In">
</form>
