<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- linking css stylesheet -->
        <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script> <!-- linking javascript file -->
        <img    src="{{ url_for('static', filename='my_img.png') }}" alt="image description"> <!--linking an image -->
        <title>My First Template</title>
    </head>
    <body>
        <h3>My first flask template with embedded python</h3>
        <!-- this will output the value of our phrase variable -->
        <p>Phrase: {{ phrase }}</p>
        <!-- this will output the value of our times variable -->
        {% for x in range(0,times): %}
        <p>{{ phrase }}</p>
        {% endfor %}
    </body>
</html>
