*.tcl
Flask/my_new_project/hello_flask/venv/tcl/tk8.5/tclIndex
*.msg
*.terms
Flask/my_new_project/hello_flask/venv/tcl/tk8.5/images/README
*.h
*.pyc
*.rst
*.cfg
*.xml
Flask/my_new_project/flask/Lib/site-packages/click-6.7.dist-info/INSTALLER
Flask/my_new_project/flask/Lib/site-packages/click-6.7.dist-info/RECORD
Flask/my_new_project/flask/Lib/site-packages/click-6.7.dist-info/METADATA
Flask/my_new_project/flask/Lib/site-packages/Flask-0.12.dist-info/INSTALLER
Flask/my_new_project/flask/Lib/site-packages/click-6.7.dist-info/WHEEL
Flask/my_new_project/flask/Lib/site-packages/Flask-0.12.dist-info/METADATA
Flask/my_new_project/flask/Lib/site-packages/Flask-0.12.dist-info/RECORD
.DS_store
venv/
.pem
