<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ user['name'] }}'s Edit Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename=('css/style.com') }}">
    </head>
    <body>
        <h1>{{ user['name'] }}'s Edit Page</h1>
        <form action="/user/{{ user['id'] }}" method="post">
            <p>Name: <input type="text" name="name" value="{{ user['name'] }}"></p>
            <p>Email: <input type="text" name="email" value="{{ user['email'] }}"></p>
            <input type="submit" value="Update User">
        </form>
        <a href="/">Home</a><a href="/user{{ user['id'] }}">Show</a>
    </body>
</html>
