* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div, form, label[for='email'], label[for='password'], label[for='confirm'], footer {
    display: block;
    vertical-align: top;
}

div, footer {
    text-align: center;
}

div {
    margin: 20px 100px 10px 100px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-variant: small-caps;
}

form {
    margin: 30px 350px 0 350px;
    width: 600;
    background: silver;
    border: 2px solid black;
}

    label[for='first_name'], label[for='last_name'], label[for='dob'] {
        display: inline-block;
    }

    label[for='email'] {
        margin: 50px 0 0 80px;
    }

    label[for='first_name'] {
        margin: 20px 0 0 80px;
    }

    label[for='last_name'] {
        margin: 20px 0 0 -105px;
    }

    label[for='dob'] {
        margin: 20px 0 0 -90px;
    }

    label[for='password'] {
        margin: 20px 0 0 80px;
    }

    label[for='confirm'] {
        margin: 20px 0 0 80px;
    }

        input[name='email'], input[name='password'], input[name='confirm'] {
            display: block;
            margin: 10px 200px 0 150px;
            width: 500px;
        }

        input[name='first_name'], input[name='last_name'], input[name='dob'] {
            display: inline-block;
        }

        input[name='first_name'], input[name='last_name'] {
            width: 130px;
        }

        input[name='first_name'] {
            margin: 50px 75px 0 -28px;
        }

        input[name='last_name'] {
            margin: 50px 80px 0 -30px;
        }

        input[name='dob'] {
            margin: 50px 80px 0 -50px;
            width: 100px;
        }

        input[type='text'], input[type='password'] {
            vertical-align: top;
            padding-left: 20px;
            height: 40px;
            font-style: italic;
        }

    input[type='submit'] {
        margin: 20px 330px 50px 330px;
        height: 30px;
        width: 160px;
    }

span {
    font-size: 0.95em;
    color: red;
}

footer {
    margin: 50px 100px;
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}
