<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="static 'email_validation/css/main.css'">
    </head>
    <body>
        <div class="container"> <!-- page wrapper -->
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            <form action="/process" method="post">
                {% csrf_token %}
                <p>Email Address:<input type="text" name="email" placeholder="test@who"></p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
