* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h3 {
    vertical-align: middle;
    text-align: center;
}

h1, h3 {
    color: black;
}

h1 {
    margin-top: 250px;
}

ul {
    margin: 20px 0 0 640px;
    font-size: 0.9em;
    color: red;
}
