* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(#E4E4E4, white, white);
    font-family: sans-serif;
}

header, h1, form label, .form_field,
form textarea, form img, .skills, .level, .radio {
    vertical-align: top;
}

header img, h1, form label, .form_field, .level, .radio {
    display: inline-block;
}

header {
    padding: 0 275px;
    height: 200px;
    background: black;
}
    header img {
        margin: 15px 40px;
        width: 200px;
    }

h1 {
    margin-top: 60px;
    font-size: 4em;
    text-align: center;
    color: white;
}

form {
    margin: 0 425px;
    padding: 40px;
    width: 600px;
    height: auto;
    -moz-box-shadow: 0,0,20px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0,0,20px rgba(0,0,0,0.9);
    box-shadow: 0,0,20px rgba(0,0,0,0.9)
}
    form label {
        margin: 5px 15px 20px 20px;
    }

    form img {
        margin: 30px 200px 0 180px;
    }

.form_field, .form_field:nth-child(2), .email_field {
    margin: 0 0 30px 50px;
    height: 30px;
    width: 500px;
}

.skills {
        margin: 30px 0 40px 20px;
    }

.level {
    margin: 60px 7px 40px 35px;
}

.radio {
    margin: 65px 0 40px 0;
    transform: scale(1.35);
}

button {
    margin: 0 240px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(black, grey, black);
    font-weight: 400;
    color: white;
}
