* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    padding: 40px;
    width: 300px;
    background: white;
}

h1 {
    margin: 20px 0 30px 0;
    font-family: sans-serif;
}

#square {
    height: 140px;
    width: 140px;
    margin-bottom: 30px;
    background: blue;
}

#circle {
    height: 140px;
    width: 140px;
    background: blue;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#up_triangle {
    height: 0;
    width: 0;
    border-right: 80px solid transparent;
    border-bottom: 150px solid blue;
    border-left: 80px solid transparent;
}

#pacman {
    height: 0;
    width: 0;
    border-top: 80px solid blue;
    border-right: 80px solid transparent;
    border-bottom: 80px solid blue;
    border-left: 80px solid blue;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
