* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.container {
    margin: auto;
    width: 600px;
    height: auto;
}

h1 {
    display: block;
    margin: 40px 0 20px 0;
    text-align: center;
}

.alert {
    text-align: center;
    color: green;
}

input[type='submit'] {
    margin: 30px 260px;
    width: 80px;
    height: 30px;
    background: #597eaa;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    color: white;
}
