* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    width: 970px;
    overflow: auto;
    background: #eeeeee;
}

ul {
    list-style: none;
    float: left;
}
ul li {
    height: 41px;
    width: 41px;
    border: 1px solid grey;
    margin: 1px;
}

.clear {
    clear: both;
}

#table {
    float: right;
    width: 854px;
}

#period {
    float: left;
}

#group, #period, #series {
    color: red;
}
    #group li, #period li {
        height: 23px;
        width: 23px;
        padding: 10px;
        border: none;
        list-style: none;
    }
    #group li {
        display: inline;
        float: left;
    }

h3 {
    color: #1a16a3
}

.blue, #first_pink, #space, .pink, .yellow, #last_yellow {
    display: inline-block;
    vertical-align: bottom;
}
    .blue li, .pink li, .yellow li, .green li {
        margin: 1px;
        height: 41px;
        width: 41px;
        border: 1px solid black;
    }
    .blue li {
        background: #689bff;
    }
    .pink li {
        background: #fd9a98;
    }
    .yellow li {
        background: #fecb00
    }
    #first_pink, #space {
        margin-left: 12px;
    }
