* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    border: 2px solid black;
    padding: 15px;
}
    h2, .welcome, header a {
        vertical-align: top;
        display: inline-block;
    }

    .welcome {
        margin-right: 30px;
        font-size: 0.8em;
        text-align: right;
    }

    header a {
        font-size: 0.7em;
        text-decoration: none;
    }

p {
    display: block;
    text-indent: 15px;
}

textarea {
    margin: 15px auto;
}

input[type='submit'] {
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 0 5px 5px 5px black;
    color: white;
}
    input[type='submit']:not(last-child) {
        background: blue;
    }
    input[type='submit']:nth-child(3) {
        background: green;
    }
    input[name='delete'] {
        background-color: red'
    }
