<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'survey_form/css/main.css' %}">
    </head>
    <body>
        <div class="container"> <!-- page wrapper -->
            <form action="/process" method="post">
                {% csrf_token %}
                <label>Your Name:</label><input type="text" name="name" value="">
                <label>Dojo Location:</label>
                    <select class="menu" name="location">
                        <option value="Berkeley">Berkeley, CA</option>
                        <option value="Chicago">Chicago, IL</option>
                        <option value="Dallas">Dallas, TX</option>
                        <option value="Los Angeles">Los Angeles, CA</option>
                        <option value="Online">Online</option>
                        <option value="Orange County">Orange County, CA</option>
                        <option value="Seattle">Seattle, WA</option>
                        <option value="Silicon Valley">Silicon Valley, CA</option>
                        <option value="Washington DC">Washington, DC</option>
                    </select>
                <label>Favorite Language:</label>
                    <select class="menu" name="language">
                        <option value="C++">C++</option>
                        <option value="Javascript">Javascript</option>
                        <option value="Node">Node</option>
                        <option value="PHP">PHP</option>
                        <option value="Python">Python</option>
                        <option value="Rails">Rails</option>
                    </select>
                <label id="comment">Comment (Optional):</label>
                    <textarea name="comment" rows="4" cols="49"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
