<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css')}}">
    </head>
    <body>
        <h1>Invalid information entered</h1>
        <h3>Please go back and reenter the information</h3>
        <ul>
            <li>Alias must be at least two (2) characters.</li>
            <li>Country must be at least two (2) characters.</li>
            <li>Email address must be in a valid format.</li>
        </ul>
    </body>
</html>
