* {
    margin: 0;
    padding: 0;
}

body {
    padding: 150px;
    font-family: sans-serif;
}

h1, p {
    vertical-align: top;
    margin-bottom: 30px;
    text-align: center;
}

input[type='submit'] {
    margin: 15px 0 0 570px;
    height: 30px;
    width: 100px;
}
