*{
    margin: 0px;
    padding 0px;
    font-family: sans-serif;
}

.container1{
    width: 970px;
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    background-color: #245076;
}

    .header{
        width: auto;
        padding: 10px 0px 20px, 30px;
    }
        .img, form, .first_list, .main_content, .navbar{
            display: inline-block;
            vertical-align: top;
            background-color: #245076;
    }
        .img{
            width: 320px;
            margin-top: 15px;
            margin-left: 30px;
        }
        .text_type{
            margin-left: 429px;
        }
        .text_type, .text_sizes{
            display: inline-block;
            margin-bottom: 0;
            background: none;
            font-size: 0.8em;
            font-weight: 100;
            text-align: right;
        }
        .text_type{
            color: #ffffff;
        }
        .text_sizes{
            color: #ddbf3b;
            text-decoration: underline;
        }
        .search{
            margin-top: 0;
            margin-left: 335px;
            padding-right: 30px;
            padding-left: 30px;
            vertical-align: top;
            border: 40px;
            border-width: medium;
            border-radius: 10px;
            border-bottom: 3px solid #1f2021;
            border-right: 3px solid #1f2021;
            background-color: #444444;
        }
        form input[type="search"]{
            height: 20px;
            width: 150px;
            margin: 10px;
            padding: 15px;
            display: inline-block;
            border: 3px;
            border-style: inset;
            text-align: center;
            font-size: 0.7em;
            color: #c6c6c6;
        }
        form input[type="submit"]{
            padding: 6.5px 9px;
            border: 3px solid #c0c0c0;
            border-style: outset;
            border-radius: 5px;
            vertical-align: middle;
            text-align: center;
            font-size: 0.7em;
            background-color: #245076;
            color: #ffffff;
        }

    .navbar{
        width: 835px;
        margin-left: 70px;
        padding: 10px 20px;
        border-radius: 5px;
        border-bottom: 3px solid #1f2021;
        border-right: 3px solid #1f2021;
        background-color: #3e7aad;
        text-align: center;
        }
        .navbar a:link{
            margin: 15px 20px;
            font-size: 1.3em;
            text-decoration: none;
            background-color: none;
            color: #ffffff;
        }

    .first_list{
        margin: 38px 20px 0px 90px;
        padding-right: 20px;
        list-style-image: url(dbl-chevron-rt.png);
        list-style-position: inside;
        background-color: #245076;
        color: #ffffff;
        font-weight: lighter;
        text-align: center;
        text-decoration: underline;
    }
        li:not(:last-child){
            margin-bottom: 9px;
        }

    .main_content{
        margin: 20px 0px 10px 0px;
        width: 610px;
        background-color: #245076;
        color: #ffffff;
        text-align: center;
    }
        .paragraph{
            color: #ffffff;
            margin-bottom: 10px;
            padding-right: 15px;
            padding-left: 0px;
            font-size: 0.85em;
    }
        .words{
            padding-bottom: 10px;
            color: #ddbf3b;
            font-size: 1.2em;
            font-style: italic;
        }
        p{
            margin-bottom: 10px;
        }
        .zen{
            font-size: 1em;
            color: #ffffff;
        }

.container2{
    margin-top: 0;
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 10px;
    padding-left: 100px;
    border-top: 3px solid #1f2021;
    background-color: #ffffff;
}
    .column1, .column2{
        display: inline-block;
        vertical-align: top;
        width: 320px;
        border-top: 4px solid #73a7d5;
        font-size: 0.8em;
        text-align: center;
    }
    .column1{
        margin-right: 20px;
        padding: 5px 80px 0 15px;
    }
    .column2{
        padding: 5px 80px 10px 15px;
    }
        h3{
            padding-bottom: 5px;
            font-weight: 100;
        }
        .getting_started, .applications{
            margin-left: 15px;
        }
        .getting_started{
            margin-right: 37px;
        }
        .centered_paragraph_text{
            font-size: 1em;
            text-align: center;
        }
        .applications{
            margin-right: 18px;
        }
    .second_list li, .third_list li{
        margin: 3px 35px 3px 15px;
        color: #94bbdf;
        list-style-image: url('black_square.png');
    }
    .pypi{
        font-size: 0.8em;
        color: #94bbdf;
    }

.container3{
    height: 40px;
    margin: 0 -10px -22px -10px;
    padding: 50px 200px 7px 190px;
    color: #94bbdf;
    background: #245076; /*if browser does not show gradient*/
    background: linear-gradient(#245076, #3e7aad);
}
    .bottom_links A:link{
        margin-right: 40px;
        background: none;
        font-size: 1em;
        font-weight: 100;
        text-align: center;
        text-decoration: none;
        color: #94bbdf;
}
    .copyright{
        margin-top: 10px;
        font-size: 0.65em;
        text-align: center;
    }
